:root{
    --c1:#F3EFE0;
    --c2:#222222;
    --c3:#292727;
    --c4:#22A39F;
}

body {
    min-height: 100vh;
    display: flex;
    background-color: var(--c3);
    font-family: 'Montserrat',sans-serif;
    font-size: large;
    color: #F3EFE0;
    flex-direction: column;
}

h1 {
    color: var(--c4);
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
}

h2 {
    text-align: center;
    color: #f88461;
    font-weight: 800;
}

h3 {
    text-align: center;
    font-weight: 800;
}

a {
    color: var(--c4);
}

strong{
    color: var(--c4);
}

footer {
    background-color: var(--c2);
    margin-top: auto;
    color: var(--c1);
    text-align: center;
}

.contact-info {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    display: block;
}
.summary {
    text-align: center;
}